.App {
  min-height:100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.head{
  color:blue;
  text-align :center;
}

.form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center

}
.search-bar{
  width:50%;
  height:50%;
  padding: 10px;
  border:1px solid black;
}
.search-button{
  background-color:blue;
  padding-right:20px;
  height:35px;
  width:10%;
  color:white;
  padding-left:20px;
}

.detail{
  padding-left:40px;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
